__pycache__/*
**/__pycache__/*
glicko2/__pycache__/*
databases/.default
databases/mock_runs/*
databases/benchmark_runs/*
logs/mock_run*
task_log/mock_runs/*
explanations/mock_runs/*
task_log/benchmark_runs/*
.jlcache/
.ipynb_checkpoints
**/.~lock.*

*~
#*.pdf
*.aux
thesis/*.log
*.glg
*.glo
*.gls
*.ist
*.out
*.tdo
*.toc
*.bbl
*.bcf
*.blg
*.run.xml
*.kate-swp
*.acn
*.acr
*.alg
*.kilepr

