tinydb~=4.7.0
rich~=12.6.0
textual~=0.1.18
pandas~=2.2.0
prompt-toolkit~=3.0
minizinc[dzn]~=0.9.0
matplotlib~=3.9.0
configargparse~=1.5.3
pyfiglet~=0.8.post1
sacred~=0.8.4
tinydb-serialization~=2.1.0
hashfs~=0.7.2
scikit-learn~=1.5.0
seaborn~=0.12.2
joblib~=1.4.0
statsmodels~=0.14.0
jupyter~=1.0.0
tqdm~=4.65.0
scipy~=1.14.1
numpy~=2.1.0
openpyxl~=3.1.2
